{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <h2>會員登入</h2>
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}" />
        <div class="form-group">
          <label for="username">帳號:</label>
          <input type="text" name="username" id="username" required />
        </div>
        <div class="form-group">
          <label for="password">密碼:</label>
          <input type="text" name="password" id="password" required />
        </div>
        <button type="submit">登入</button>
      </form>
      {% if error %}
      <p class="error">發生錯誤: {{error}}</p>
      {% endif %}

      <p>還沒有帳號嗎? <a href="{% url 'register' %}">請在此註冊</a></p>
    </div>
  </body>
</html>
