{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <h2>登出</h2>
      <p>確認要登出嗎?</p>
      <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">登出</button>
        <a href="{% url 'home' %}">取消</a>
      </form>
    </div>
  </body>
</html>
